*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{

display:flex;

background:#f8fafc;

}

.sidebar{

width:260px;

height:100vh;

background:#0f172a;

padding:25px;

position:fixed;

}

.logo{

color:white;

font-size:24px;

font-weight:bold;

margin-bottom:40px;

}

.sidebar a{

display:block;

padding:15px;

margin-bottom:8px;

color:#cbd5e1;

text-decoration:none;

border-radius:10px;

transition:.3s;

}

.sidebar a:hover{

background:#1e293b;

color:white;

}

.main{

margin-left:260px;

width:100%;

padding:40px;

}

.topbar{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:40px;

}

.profile{

background:#2563eb;

color:white;

padding:10px 20px;

border-radius:30px;

}

.hero{

background:white;

padding:40px;

border-radius:20px;

box-shadow:0 10px 30px rgba(0,0,0,.08);

margin-bottom:35px;

}

.cards{

display:grid;

grid-template-columns:repeat(2,1fr);

gap:25px;

}

.card-box{

background:white;

padding:30px;

border-radius:20px;

box-shadow:0 10px 25px rgba(0,0,0,.08);

transition:.3s;

}

.card-box:hover{

transform:translateY(-8px);

}

.card-box i{

font-size:45px;

color:#2563eb;

margin-bottom:20px;

display:block;

}

.card-box a{

text-decoration:none;

font-weight:bold;

}
.sidebar .active{

background:#2563eb;

color:white;

font-weight:600;

}

.report-card{

margin-top:30px;

border-radius:18px;

overflow:hidden;

}

.report-body{

padding:25px;

background:white;

min-height:350px;

}
#slidePreview{

min-height:300px;

background:white;

padding:25px;

border-radius:15px;

border:1px solid #e2e8f0;

margin-bottom:20px;

}

#pptStatus{

margin-top:15px;

}